{% extends 'sidenav.html.twig' %}

{% block sidenav_options %}
	<p onclick="profile()" id="profile">Torna al profilo</p>
	<p onclick="map()" id="map">Torna alla mappa</p>
	<p onclick="logout()" id="logout">Logout</p>
{% endblock %}

{% block modals %}

{% endblock %}

{% block fd_body%}
	<div class="title">Modifica profilo</div>
	<div class='fd_login-page'>
        <div class='fd_form'>
			{{ form_start(form) }}
			{{ form_widget(form.propic) }}
			{{ form_end(form) }}
		</div>
	</div>
	<script>
		function logout() {
			$(".loader").fadeIn();
			document.location.href = "{{ path('logout') }}";
		}

		function map() {
			$(".loader").fadeIn();
			document.location.href = "{{ path('map') }}";
		}

		function profile() {
			$(".loader").fadeIn();
			document.location.href = "{{ path('profile') }}";
		}
		$(".loader").fadeOut();
	</script>
{% endblock %}