{% extends 'sidenav.html.twig' %}

{% block sidenav_options %}
	<p onclick="map()" id="map">Torna alla mappa</p>
	<p onclick="logout()" id="logout">Logout</p>
{% endblock %}

{% block modals %}

{% endblock %}

{% block fd_body%}
	<div class="title">Profilo utente</div>
	<div class='fd_profile'>
        <div class='fd_profile-content'>
        	<div class="profilePicture grid-divider">
        		<p><img class="profilePic" src='https://i.imgur.com/ic4Wddd.png'></img></p>
        		<p><button type="button" class="btn btn-info">Cambia immagine profilo</button></p>
        	</div>
        	<div class="profileInfo">
        		<div class="profileInfoElems">
        			<p>Nickname:</p>
        			<p class="bold-data">{{ user.getNickname }}</p>
        		</div>
        		<div class="profileInfoElems">
        			<p>Email: </p>
        			<p class="bold-data">{{ user.getEmail }}</p>
        		</div>
        		<div class="profileInfoElems">
        			<p>Descrizione: </p>
        			<p class="bold-data">{{ user.getDescription }}</p>
        		</div>
        		<button type="button" onclick="updateInfo()" class="btn btn-info">Aggiorna dati</button>
        		<button type="button" onclick="updatePassword()" class="btn btn-info">Cambia password</button>
        	</div>
        </div>
    </div>
	<script>
		function logout() {
			document.location.href = "{{ path('logout') }}";
		}

		function map() {
			document.location.href = "{{ path('map') }}";
		}

		function updateInfo() {
			document.location.href = "{{ path('profile_edit') }}";
		}
		
		function updatePassword() {
			document.location.href = "{{ path('password_reset') }}";
		}
	</script>
{% endblock %}
