{% extends 'sidenav.html.twig' %}

{% block modals %}

{% endblock %}

{% block fd_body%}
	<div class="title">Profilo di {{ user.nickname }}</div>
	<div class='fd_profile'>
        <div class='fd_profile-content'>
        	<div class="profilePicture grid-divider"  style="width: 50%;">
        		<p><img class="profilePic" src="{{ propic }}"></img></p>
        	</div>
        	<div class="profileInfo">
        		<div class="profileInfoElems">
        			<p>Nickname:</p>
        			<p class="bold-data">{{ user.getNickname }}</p>
        		</div>
        		<div class="profileInfoElems">
        			<p>Descrizione: </p>
        			<p class="bold-data">{{ user.getDescription }}</p>
        		</div>
				<div class="profileInfoElems">
					{% set socials = user.socials %}
					<p>Socials: </p>
					<table class="table fd-socials thead-fd">
						<thead>
							<tr>
								<th><i class="fa fa-paw"></i></th>
								<th><i class="fa fa-facebook"></i></th>
								<th><i class="fa fa-telegram"></i></th>
							</tr>
						</thead>
						<tbody>
                            {% if socials == null %}
								<td></td>
								<td></td>
								<td></td>
							{% else %}
							    <tr>
								    <td>{% if socials.fa != null %}<a target="_blank" href="https://www.furaffinity.net/user/{{socials.fa}}">{{socials.fa}}{% endif %}</td>
								    <td>{% if socials.fa != null %}<a target="_blank" href="https://www.facebook.com/{{socials.facebook}}">{{socials.facebook}}{% endif %}</td>
								    <td>{% if socials.fa != null %}<a target="_blank" href="https://t.me/{{socials.telegram}}">{{socials.telegram}}{% endif %}</td>							
                                </tr>
                            {% endif %}
                        </tbody>
					</table>
				</div>
        	</div>
        </div>
    </div>
	<script>
        $(".loader").fadeIn();

		function updateInfo() {
            $(".loader").fadeIn();
			document.location.href = "{{ path('profile_edit') }}";
		}

		function updateSocials() {
            $(".loader").fadeIn();
			document.location.href = "{{ path('social_edit') }}";
		}

        function uploadPropic() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('upload-profile-image') }}"
        }
        $(".loader").fadeOut()
	</script>
{% endblock %}
