{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
    
{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class='login-page'>
        <div class='form'>
            <div class='form-title'>
                Login
            </div>
            <form  class ="login-form" action="{{ path('login') }}" method="post">
                <input name="_username" type="text" placeholder="Nome utente"/>
                <input name="_password" type="password" placeholder="Password"/>
                <button>login</button>
                <p class="message">Non hai un account? <a href="{{ path('register') }}">Creane uno!</a></p>
            </form>
        </div>
    </div>
    <div class='footer'> 
            powered by <img src=" {{ asset('images/logo.png') }}" width="60" height="60"/>
        </div>
{% endblock %}