{% extends 'sidenav.html.twig' %}

{% block sidenav_options %}
    <p onclick="admin()">Torna al pannello</p>
    <p onclick="logout()" id="logout">Logout</p>
{% endblock %}

{% block title %}
	Logs
{% endblock %}

{% block fd_body %}
	<script>
		function logout() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('logout') }}";
        }

        function admin() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('users_list') }}";
        }
	</script>
	<div class="title">
		Logs
	</div>
	<div class="fd_list">
		<div>
			{{ form_start(form) }}
				<div class="form_group">
					{{ form_label(form.category) }}
					{{ form_widget(form.category) }}
				</div>
				<div class=form_group>
					{{ form_widget(form.submit) }}
				</div>
			{{ form_end(form) }}
		</div>
		<br>
		<div>
			{% if logtype == "description" %}
					{% include "logs/description.html.twig" with{"data": data} %}
			{% elseif logtype == "propic" %}
				{% include "logs/propic.html.twig" with{"data": data} %}
			{% elseif logtype == "nickname" %}
				{% include "logs/nickname.html.twig" with{"data": data} %}
			{% elseif logtype == "ban" %}
				{% include "logs/ban.html.twig" with{"data": data} %}
			{% endif %}
		</div>
	</div>
{% endblock %}