{% extends 'sidenav.html.twig' %}

{% block fd_body %}
	<div class="title">
		Punisci utente
	</div>
	<div class="fd_list">
		{% if error is not null %}
            <div class="alert alert-danger fade in alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ error.getMessage() }}
            </div>
		{% endif %}
		{{ form_start(form) }}
			<div class="form-group">
				{{ form_label(form.endDate) }}<br>
				{{ form_widget(form.endDate) }}
				
			</div>
			<div class="form-group">
				{{ form_label(form.permanentBan) }}<br>
				{{ form_widget(form.permanentBan) }}
			</div>
			<div class="form-group">
				{{ form_label(form.banReason) }}<br>
				{{ form_widget(form.banReason) }}
			</div>
		{{ form_end(form) }}
	</div>
{% endblock %}

