{% extends 'base.html.twig' %}

{% block body %}
	<div class="fd_main">		
		<div class="fd_sidenav conditionalOpen" id="sidenav_menu">
			<div class="fd_sidenav_top_logo conditionalMove" id="sidenav_top_logo">
				<img onclick="furryden()" src=" {{ asset('images/maplogo-left.png') }}" width="40" height="50"/>
				<img id="maplogoright" class="conditionalOpacity" onclick="furryden()" src=" {{ asset('images/maplogo-right.png') }}" width="120" height="50"/>
			</div>
			<div class="fd_sidenav-elements">
				<div class="fd_sidenav_options">
					{% if app.request.get('_route') == 'map' %}
						{% if marked %}
							<p data-toggle="modal" data-target="#editModal">
								<i class="material-icons">
									edit_location
								</i>
								Cambia posizione
							</p>
							<p data-toggle="modal" data-target="#deleteModal">
								<i class="material-icons">
									location_off
								</i>
								Elimina posizione
							</p>
						{% else %}
							<p data-toggle="modal" data-target="#addModal">
								<i class="material-icons">
									add_location
								</i>
								Fissa posizione
							</p>
						{% endif %}
						<p data-toggle="modal" data-target="#searchModal">
							<i class="material-icons">
								search
							</i>
							Cerca località
						</p>
					{% endif %}
					<p onclick="map()">
						<i class="material-icons">
							map
						</i>
						Mappa
					</p>
					{% if is_granted("ROLE_ADMIN") %}
						<p onclick="userList()">
							<i class="material-icons">
								gavel
							</i>
							Pannello admin
						</p>
						<p onclick="logs()">
							<i class="material-icons">
								list
							</i>
							Logs
						</p>
					{% endif %}
					<p onclick="logout()" id="logout">
						<i class="material-icons">
							exit_to_app
						</i>
						Logout
					</p>
				</div>
			</div>
		</div>
		<div class="topbody">
			<div class="fd_sidenav_top">
				<div onclick="toggleMenu(this)" class="fd_sidenav_top_hidenav"><i class="fa fa-caret-left fa-2x"></i></div>
				<div class="fd_sidenav_top_profile" onclick="profile()">
					<img src="/images/propics/{{ app.user.propic }}" width=50 height=50></img>
					{{ app.user.nickname }}
				</div>
			</div>
			<div id="fd_body" class="blue-bg">	
				{% block fd_body %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
        var isOpen=true;
        function toggleMenu(x) {
            if(isOpen) {
                isOpen = false;
                document.getElementById("sidenav_menu").style.width="45px";
				$("#fd_body").attr("style", "left: 0px!important; overflow: hidden");
				document.getElementById("sidenav_top_logo").style.marginLeft="2px";
				document.getElementById("maplogoright").style.opacity="0";
            } else {
                isOpen = true;
                document.getElementById("sidenav_menu").style.width="230px";
				$("#fd_body").attr("style", "left: 230px!important; overflow: hidden");
				document.getElementById("sidenav_top_logo").style.marginLeft="25px";
				document.getElementById("maplogoright").style.opacity="255";
            }
            x.classList.toggle("change");
        }
		function furryden() {
			$(".loader").fadeIn();
			document.location.href="https://furryden.it";
		}

		function userList() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('users_list') }}";
        }

        function logout() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('logout') }}";
        }

        function map() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('map') }}";
        }

        function profile() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('profile') }}";
        }

        function logs() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('logs') }}";
        }

        function map() {
            $(".loader").fadeIn();
            document.location.href = "{{ path('map') }}";
        }		
	</script>
{% endblock %}